<app-header></app-header>

<app-side-menu></app-side-menu>

<div class="wrapper">
  <div class="content-wrapper">
    <div class="content-header">
      <app-bread-crumb [items]="[{text: 'Usuários', link: '/usuario'}, {text: 'Formulário'}]"></app-bread-crumb>
      <h1>
        {{pageTitle}}
      </h1>
    </div>
    <div class="content container-fluid">
      <form (keydown.enter)="$event.preventDefault()" [formGroup]="resourceForm">

        <div class="box box-success">
          <div class="box-header with-border">
            <h3 class="box-title">Informações do Usuário</h3>
          </div>
          <div class="box-body">
            <div class="form-group has-feedback row">

              <div class="col-sm-4">
                <p-fieldset legend="Nome">
                  <input formControlName="nome" type="text" required class="form-control" placeholder="Nome">
                </p-fieldset>
                <div *ngIf="resourceForm.controls['nome'].touched && resourceForm.controls['nome'].invalid"
                  class="help-block invalid-feedback" style="color:#a94442">
                  <div *ngIf="resourceForm.controls['nome'].errors.required">Nome Obrigatório</div>
                </div>

              </div>

              <div class="col-sm-4">
                <p-fieldset legend="Nome de Usuário">
                  <input formControlName="username" type="text" required class="form-control"
                    placeholder="Nome de Usuário (Mínimo 5 caracteres)">
                </p-fieldset>
                <div *ngIf="resourceForm.controls['username'].touched && resourceForm.controls['username'].invalid"
                  class="help-block invalid-feedback" style="color:#a94442">
                  <div *ngIf="resourceForm.controls['username'].errors.required">Nome de Usuário Obrigatório</div>
                </div>
              </div>

              <div class="col-sm-4">
                <p-fieldset legend="E-mail">
                  <input formControlName="email" type="text" required class="form-control" placeholder="E-mail">
                </p-fieldset>
                <div *ngIf="resourceForm.controls['email'].touched && resourceForm.controls['email'].invalid"
                  class="help-block invalid-feedback" style="color:#a94442">
                  <div *ngIf="resourceForm.controls['email'].errors.required">Email Obrigatório</div>
                  <div *ngIf="resourceForm.controls['email'].errors.email">Email Inválido</div>
                </div>
              </div>

            </div>
            <div *ngIf="currentAction == 'new'" class="form-group has-feedback row">
              <div class="col-sm-4">
                <p-fieldset legend="Senha">
                  <input class="form-control" type="password" placeholder="Senha (Mínimo 5 caracteres)"
                    formControlName="password" />
                </p-fieldset>
                <div *ngIf="resourceForm.controls['password'].touched && resourceForm.controls['password'].invalid"
                  class="help-block invalid-feedback" style="color:#a94442">
                  <div *ngIf="resourceForm.controls['password'].errors.required">Senha Obrigatória</div>
                  <div *ngIf="resourceForm.controls['password'].errors.minlength">Mínimo 5 caracteres</div>
                </div>
              </div>
              <div class="col-sm-4">
                <p-fieldset legend="Confirmar Senha">
                  <input class="form-control" placeholder="Confirme a Senha (Mínimo 5 caracteres)" type="password"
                    formControlName="confirmPassword" />
                </p-fieldset>
                <div
                  *ngIf="resourceForm.controls['confirmPassword'].touched && checkPassword(resourceForm, 'password', 'confirmPassword')"
                  class="help-block invalid-feedback" style="color:#a94442">
                  <div>Senhas não coincidem</div>
                </div>
              </div>
            </div>

            <div *ngIf="exibirInfoAdmin()" class="form-group has-feedback row">
              <div class="col-sm-2">
                <p-fieldset legend="Nível">
                  <div class="ui-s">
                    <div class="ui-s-12">
                      <p-radioButton class="radioClear" name="nivel" label="Administrador" [value]="'ADMIN'"
                        formControlName="nivel">
                      </p-radioButton>
                    </div>
                    <div class="ui-s-12">
                      <p-radioButton class="radioClear" name="nivel" label="Usuário" [value]="'USUARIO'"
                        formControlName="nivel">
                      </p-radioButton>
                    </div>
                  </div>
                </p-fieldset>
              </div>
              <div class="col-sm-2">
                <p-fieldset legend="Usuário Ativo">
                  <strong><label>{{resourceForm.controls['ativo'].value ? 'Sim' : 'Não'}}</label></strong>
                  <br />
                  <p-inputSwitch formControlName="ativo"></p-inputSwitch>
                </p-fieldset>
              </div>

            </div>

          </div>
          <div class="box-footer">
            <button class="btn btn-danger pull-left" [routerLink]="['/home']">Cancelar</button>
            <button class="btn btn-success pull-right" [disabled]="submittingForm || resourceForm.invalid"
              (click)="confirm()">Salvar</button>
          </div>
        </div>
      </form>

      <form (keydown.enter)="$event.preventDefault()" [formGroup]="updatePass">
        <div *ngIf="currentAction == 'edit'" class="box box-success">
          <div class="box-header with-border">
            <h3 class="box-title">Alterar Senha</h3>
          </div>
          <div class="box-body">

            <div class="form-group has-feedback row">
              <div class="col-sm-4">
                <p-fieldset legend="Senha Atual">
                  <input class="form-control" type="password" placeholder="Senha (Mínimo 5 caracteres)"
                    formControlName="password" />
                </p-fieldset>
                <div *ngIf="updatePass.controls['password'].touched && updatePass.controls['password'].invalid"
                  class="help-block invalid-feedback" style="color:#a94442">
                  <div *ngIf="updatePass.controls['password'].errors.required">Senha Obrigatória</div>
                  <div *ngIf="updatePass.controls['password'].errors.minlength">Mínimo 5 caracteres</div>
                </div>
              </div>

              <div class="col-sm-4">
                <p-fieldset legend="Nova Senha">
                  <input class="form-control" placeholder="Confirme a Senha (Mínimo 5 caracteres)" type="password"
                    formControlName="novaSenha" />
                </p-fieldset>
                <div *ngIf="updatePass.controls['novaSenha'].touched && updatePass.controls['novaSenha'].invalid"
                  class="help-block invalid-feedback" style="color:#a94442">
                  <div *ngIf="checkPassword(updatePass, 'novaSenha', 'confirmNovaSenha')">Senhas não coincidem</div>
                  <div *ngIf="updatePass.controls['novaSenha'].errors?.minlength">Mínimo 5 caracteres</div>
                </div>
              </div>

              <div class="col-sm-4">
                <p-fieldset legend="Confirmar Nova Senha">
                  <input class="form-control" placeholder="Confirme a Senha (Mínimo 5 caracteres)" type="password"
                    formControlName="confirmNovaSenha" />
                </p-fieldset>
                <div
                  *ngIf="updatePass.controls['confirmNovaSenha'].touched && updatePass.controls['confirmNovaSenha'].invalid"
                  class="help-block invalid-feedback" style="color:#a94442">
                  <div *ngIf="checkPassword(updatePass, 'novaSenha', 'confirmNovaSenha')">Senhas não coincidem</div>
                </div>
              </div>
            </div>
          </div>

          <div class="box-footer">
            <button class="btn btn-danger pull-left" [routerLink]="['/home']">Cancelar</button>
            <button class="btn btn-success pull-right" [disabled]="submittingForm || updatePass.invalid"
              (click)="confirmAlterarSenha()">Alterar Senha</button>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>

<app-footer></app-footer>
