<app-header></app-header>

<app-side-menu></app-side-menu>

<div class="wrapper">
  <div class="content-wrapper">

    <div class="content container-fluid">

      <div class="container text-center">
        <div id="notfound">
          <div class="notfound">
            <div class="notfound-404">
            </div>
            <h2>Acesso negado!</h2>
            <p>Você não tem permissão para acessar essa página. Consulte um administrador do sistema para mais
              informações.</p>
            <a routerLink="/home">Página Inicial</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
