
  <div class="login-box">
    <div class="login-logo">
      <b>Locação</b>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
      <form>
        <div class="form-group has-feedback">
          <input type="email" required class="form-control" placeholder="Email">
          <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback">
          <input type="password" required class="form-control" placeholder="Password">
          <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        </div>
        <div class="row">
          <div class="col-xs-6">
            <button (click)="teste()" class="btn btn-primary btn-block btn-flat">Sign In</button>
          </div>
          <!-- /.col -->
          <div class="col-xs-6">
            <a href="#">I forgot my password</a><br>
          </div>
        </div>
      </form>
    </div>
  </div>
