<!-- sidebar: style can be found in sidebar.less -->
<aside class="main-sidebar">
  <section class="sidebar">

    <!-- Sidebar Menu -->
    <ul class="sidebar-menu" data-widget="tree">
      <li class="header">MENU</li>
      <!-- Optionally, you can add icons to the links -->
      <li routerLinkActive="active"><a routerLink="/home"><i class="fa fa-home"></i><span>Home</span></a></li>
      <li routerLinkActive="active"><a routerLink="/professor"><i class="fa fa-users"></i><span>Professor</span></a>
      </li>
      <li routerLinkActive="active"><a routerLink="/datashow"><i class="fa fa-desktop"></i><span>Datashow</span></a>
      </li>
      <li routerLinkActive="active"><a routerLink="/locacoes"><i class="fa fa-list"></i><span>Locações</span></a>
      </li>
      <!--   <li routerLinkActive="active"><a routerLink="/locacao"><i class="fa fa-sitemap"></i><span>Locações</span></a></li> -->
      <li *ngIf="isAdmin()" routerLinkActive="active"><a routerLink="/usuario"><i
            class="fa fa-users"></i><span>Usuários</span></a></li>
      <li *ngIf="isAdmin()" routerLinkActive="active"><a routerLink="/relatorios"><i class="fa fa-bar-chart"
            aria-hidden="true"></i><span>Relatórios</span></a></li>


      <!--   <li class="treeview">
      <a href="#"><i class="fa fa-link"></i> <span>Multilevel</span>
        <span class="pull-right-container">
          <i class="fa fa-angle-left pull-right"></i>
        </span>
      </a>
      <ul class="treeview-menu">
        <li><a href="#">Link in level 2</a></li>
        <li><a href="#">Link in level 2</a></li>
      </ul>
    </li> -->
    </ul>
    <!-- /.sidebar-menu -->
  </section>

</aside>

<footer class="main-footer">
  <strong>Copyright &copy; 2019 <a href="https://www.uema.br/" target="_blank">UEMA</a>.</strong> Todos os direitos
  reservados.
</footer>
