/* You can add global styles to this file, and also import other style files */
input[type=text].ng-valid[required] {
  border-left: 5px solid #42a948; /* green */
}

.ng-invalid:not(form) {
  border-left: 5px solid #a94442;
}
p-autocomplete.ng-valid.required > div {
  border-left: 5px solid #42a948; 
}

p-dropdown.ng-invalid[required]> div {
  border-left: 5px solid #a94442; 
}

p-dropdown.ng-valid[required]> div {
  border-left: 5px solid #42a948; 
}

p-dropdown.ng-invalid:not(form) {
  border-left: 0 none;
}

.radioClear.ng-invalid:not(form) > div {
  border-left: 0 none 
}

.radioClear.ng-valid[required],
.radioClear.ng-valid.required {
  border-left: 0 none ;
}

.radioClear.ng-invalid:not(form) {
  border-left: 0 none;
}

.radioClear.ng-invalid:not(form) > div {
  border-left: 0 none /* red */
}

p-listbox.ng-invalid:not(form) > div {
  border-left: 5px solid #a94442; /* red */
}

p-listbox.ng-valid[required],
p-listbox.ng-valid.required {
  border-left: 5px solid #42a948; /* green */
}

p-listbox.ng-valid:not(form) > div {
  border-left: 5px solid #42a948; /* red */
}
p-listbox.ng-invalid:not(form) {
  border-left: 0 none;
}

