/* You can add global styles to this file, and also import other style files */
.ng-valid[required],
.ng-valid.required {
  border-left: 5px solid #42a948; /* green */
}

.ng-invalid:not(form) {
  border-left: 5px solid #a94442; /* red */
}
p-autocomplete.ng-valid.required > div {
  border-left: 5px solid #42a948; /* green */
}

p-dropdown.ng-invalid:not(form) > div {
  border-left: 5px solid #a94442; /* red */
}

p-dropdown.ng-valid[required],
p-dropdown.ng-valid.required {
  border-left: 0 none;
}

p-dropdown.ng-invalid:not(form) {
  border-left: 0 none;
}

.radioClear.ng-invalid:not(form) > div {
  border-left: 0 none /* red */
}

.radioClear.ng-valid[required],
.radioClear.ng-valid.required {
  border-left: 0 none ;
}

.radioClear.ng-invalid:not(form) {
  border-left: 0 none;
}

.radioClear.ng-invalid:not(form) > div {
  border-left: 0 none /* red */
}

p-listbox.ng-invalid:not(form) > div {
  border-left: 5px solid #a94442; /* red */
}

p-listbox.ng-valid[required],
p-listbox.ng-valid.required {
  border-left: 5px solid #42a948; /* green */
}

p-listbox.ng-valid:not(form) > div {
  border-left: 5px solid #42a948; /* red */
}
p-listbox.ng-invalid:not(form) {
  border-left: 0 none;
}

