<app-header></app-header>
<app-side-menu></app-side-menu>

<div class="wrapper">
  <div class="content-wrapper">
    <div class="content-header">
      <app-bread-crumb [items]="[{text: 'Professores', link: '/professor'}, {text: 'Formulário'}]"></app-bread-crumb>
      <h1>
        {{pageTitle}}
      </h1>
    </div>
    <div class="content container-fluid">

      <form [formGroup]="resourceForm">

        <div class="box box-success">
          <div class="box-header with-border">
            <h3 class="box-title">Informações do Professor</h3>
          </div>
          <div class="box-body">
            <div class="form-group has-feedback row">

              <div class="col-sm-4">
                <p-fieldset legend="Nome">
                  <input formControlName="nome" type="text" required class="form-control" placeholder="Nome">
                </p-fieldset>
              </div>

              <div class="col-sm-4">
                <p-fieldset legend="Matrícula">
                  <input formControlName="matricula" type="text" required class="form-control" placeholder="Matrícula">
                </p-fieldset>
              </div>

              <div class="col-sm-4">
                <p-fieldset legend="Curso">
                  <p-dropdown formControlName="curso" [options]="cursos" optionLabel="label" [style]="{'width':'100%'}"
                    required placeholder="Selecione um Curso"></p-dropdown>
                </p-fieldset>
              </div>
            </div>

          </div>
          <div class="box-footer">
            <button class="btn btn-danger pull-left" [routerLink]="['/professor']">Cancelar</button>
            <button class="btn btn-success pull-right" [disabled]="submittingForm || resourceForm.invalid"
              (click)="confirm()">Salvar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<app-footer></app-footer>
