.ng-valid[required],
.ng-valid.required {
  border-left: 5px solid #42a948; /* green */
}

.ng-invalid:not(form) {
  border-left: 5px solid #a94442; /* red */
}
p-dropdown.ng-valid[required] > div,
p-autocomplete.ng-valid.required > div {
  border-left: 5px solid; /* green */
}

p-dropdown.ng-invalid:not(form) > div {
  border-left: 5px solid; /* red */
}

p-dropdown.ng-valid[required],
p-dropdown.ng-valid.required {
  border-left: 0 none;
}

p-dropdown.ng-invalid:not(form) {
  border-left: 0 none;
}
